# Default ignored files
/../../../:Thi-Thuc-Hanh-MD1/.idea/shelf/
/../../../:Thi-Thuc-Hanh-MD1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:Thi-Thuc-Hanh-MD1/.idea/httpRequests/
